*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container-fluid{
    margin: 0 68px;
}
.main-btn{
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
}
.main-btn i{
    font-size: 20px;
   
}

/* navbar css */
.nav-item .nav-link{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.navbar-brand{
    color: white;
    font-size: 22px ;
    font-weight: 700;
    line-height: 26px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-toggler:focus{
    box-shadow: none !important;
   
}


/* about section css */
.about-inner{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-inner h2{
    font-size: 49px;
    font-weight: 700;
    line-height: 59px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.about-inner p{
    color: white;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 44px;
    width: 550px;
}
.about-left-icon{
    position: absolute;
    top: 50%;
    left: 0;
    
    
}
.about-left-icon span{
    background-color: #EEEEEE;
    padding: 30px 10px;
 
    
}
.about-left-icon span img{
    transform: rotate(180deg);
}
.about-right-icon{
    position: absolute;
    top: 50%;
    right: 0;
    
    
}
.about-right-icon span{
    background-color: #EEEEEE;
    padding: 30px 10px;
 
    
}

/* products of weaks */
.container-fluid{
    margin: 0 68px;
}
.products-weak h2{
    margin-top: 70px;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 40px;
}

.products-weak p{
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    color: #8A8A8A;
    margin-bottom: 60px;
}
.product-top-text{
    position: absolute;
    top: 20px;
    left: 40px;
    color: #777777;
   
}
.product-top-text h4{
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.product-card-txt h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 27px;
}
.middle-img{
    margin-top: 60px;
}
.middle-txt{
    position: absolute;
    top: 80px;
    right: 50px;
}
.middle-txt p{
    width: 550px;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.btn-white{
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
   
}
.btn-white i{
    font-size: 20px;
   
}
.btn-black{
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
   
}
.btn-white i{
    font-size: 20px;
   
}
.product-bottom-card{
    margin-top: 100px;
}
.product-card-bottom-txt h3{
font-weight: 700;
font-size: 44px;
line-height: 53px;
margin-bottom: 30px;
}
.product-card-bottom-txt p{
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    
}

.wrapper{
    padding-top: 120px;
    
}
/* express section */
.express{
    margin-top: 80px;
    background-color: #EFEFEF;
    padding: 50px 40px;
}
.express h5{
    font-size: 35px;
    font-weight: 400;
    line-height: 43px;
}
/* product-4 */
.product-4{
    margin-top: 150px;
}
.product-4 h4{
    font-size: 29px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}
.product-4 p{
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 14px;
}
/*office seciton */
.office-text{
    text-align: center;
}
.office-text span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    padding-top: 20px;
}
.office-text h4{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 10px;
}

/* tesimonial text */
.testimonial-section{
    margin-top: 60px;
    background-color: #EFEFEF;
    text-align: center;
}
.testimonial-text{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.testimonial-text span{
    font-size: 80px;
}
.testimonial-text p{
    width: 440px;
    margin-bottom: 22px;
}
.testimonial-text h6{
    margin-bottom: 50px;
}
.testimonial-text h5{
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;

}
.testimonial-left{
  position: absolute;
  top: 50%;
  left: 0;

}
.testimonial-left img{
    transform: rotate(180deg);
}
.testimonial-right{
  position: absolute;
  top: 50%;
  right: 0;

}

/* footer section */
footer{
    background-color: #2B2B2B;
}
footer h1{
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
footer h4{
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
}
ul{
    margin-left: 0;
    padding-inline-start: 0;
}
footer ul li{
    list-style: none;
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
    color: #ABABAB;
    margin-bottom: 1rem;
}
footer span{
    color: #ABABAB;
    font-size: 22px;
    font-weight: 400;
}
.p-tag{
    width: 280px;
}
.footer-p{
  margin-bottom: 0;
}

@media (max-width:1030px) {
    .middle-txt{
        top: 30px;
    }
    .express h5{
        font-size: 20px;
    }
}
@media (max-width:991px) {
    .middle-txt{
    top: 50px;
    }
    .middle-txt p{
        width: 300px;
    }
}
@media (max-width:767px) {
    .products-weak h2{
        font-size: 30px;
    }
}












































































@media (max-width:991px) {
    .main-btn{
        margin-left: 220px;
    }
    .about-inner{
        top: 40%;
    }
}
@media (max-width:767px) {
    .about-inner{
        bottom: 0px;
        
    }
    .about-left-icon span{
        padding: 20px 5px;
    }
    .about-right-icon span{
        padding: 20px 5px;
    }
    .about-inner h2{
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 30px;
    }
    .about-inner p{
        font-size: 14px;
        width: 300px;
        margin-bottom: 10px;
    }
    .main-btn{
        margin-left: 70px;
        padding: 10px 20px;
        
    }
}
@media (max-width:330px) {
    .about-inner h2{
        margin-top: 10px;
    }
}